@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500&display=swap");
@import "./color.scss";

.chat_demo {
  font-family: "Fredoka", sans-serif;
  width: 70vw;
  min-width: 650px;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(30, 30, 30);
  border-radius: 25px;
  color: white;
  margin-bottom: 5vh;
}

.avatar {
  border-radius: 50%;
  width: auto;
  height: inherit;
  align-items: center;
  justify-content: center;
  & > svg {
    width: inherit;
    height: inherit;
  }
}

.name {
  font-weight: 500;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 3vh;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(153, 153, 153);
  padding-top: 2rem;
  gap: 0.25em;
  .links {
    display: flex;
    gap: 1em;
  }
}

@media screen and (max-width: 600px) {
  .chat_demo {
    position: relative;
    min-width: 300px;
    margin-bottom: 2em;
  }
}

@media screen and (max-height: 600px) {
  .chat_demo {
    margin-bottom: 10vh;
  }
  .footer {
    font-size: 0.8rem;
  }
}
